.container
  .row.clear
  .row
    .small-9.small-centered.medium-centered.large-centered.columns
      - if user_signed_in?
        %h2 Create a Group
        = render 'details'
      - else
        %p Please sign up or sign in.
