- if user_signed_in?
  - if @is_member == true
    %h2= @group.name.titleize
    = render 'members'
    = render 'agenda'
    = render 'statuses'
    - if @is_owner == true
      %p Admin: Update Group / Add Member
  - else
    This is not the group you're looking for...
- else
  Please sign up or sign in.

