%h3 On Your Agenda

- if @agendas.any?
  - @agendas.each do |agenda|
    - if agenda.body.present?
      %li= "#{agenda.body} | #{agenda.group.name} | #{agenda.updated_at}"
- else
  You don't have anything on your agenda yet.

