.medium-6.large-4.columns
  .callout.panel.dashboard-agendas{"data-equalizer-watch" => ""}
    %h3 On Your Agenda
    %p
      - if @agendas.any?
        - @agendas.each do |agenda|
          .dashboard-agenda-item
            .info
              = link_to agenda.group.name, group_path(agenda.group)
              \|
              = Date.parse(agenda.updated_at.to_datetime.rfc3339).strftime("%d %B %Y")
            .content<
              = agenda.body
            - unless agenda == @agendas.last
              %hr/
      - else
        You don't have anything on your agenda yet.
