.container
  - if user_signed_in?
    - if current_user == @user
      .row.clear
      .row{"data-equalizer" => ""}
        = render 'mentions'
        = render 'agendas'
      .row{"data-equalizer" => ""}
        = render 'reports'
      .row
        .large-12.columns
          .panel
            %em "Motivational quote here."
    - else
      %p This is not the dashboard you're looking for...
  - else
    %p Please sign up or sign in.

- content_for :javascripts do
  = javascript_include_tag "http://www.google.com/jsapi", "chartkick"
