:css
  body {
    background: url('/assets/iStock_000019741033Small.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

.home-tagline
  Work better together

.home-cta
  with TeamStatusApp.
