:css
  body {
    background: url('/assets/iStock_000019741033Small.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

.container
  .home-lines.main
    Work better together

  .home-lines.secondary
    with TeamStatusApp.

