- content_for :stylesheets do
  :css
    body {
      background: url('/assets/iStock_000019741033Small.jpg');
      background-size: cover;
    }

.home-tagline
  Work together better.

.home-cta
  Join TeamStatusApp.
