h2, h3 {
  font-family: 'Source Sans Pro';
}

body {
  font-family: 'Cambria';
}

.group-status-list-item {
  margin-bottom: 10px;
}

.group-status-list-item-body-mention {
  background-color: blue;
  color: white;
}
